* {
    background-color: #FFEDD5;
    font-family: 'Courier New', Courier, monospace;
}
h1 {        
    background-color: #D97706;       
}

p{  
    max-width: 30%;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

#about_me{
    display: inline;
}
#rk_pic{
    float: left;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
    max-width: 30%;
    display: inline;
}
#rk_bio{
    display: inline;
}


#project_images {
    display: inline;
}

#intro_ECG{
    max-width: 40%;
}

#detail_ECG{
    max-width: 40%;
}

